<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin | {{CONFIG['blog_name']}}</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
  <h1><a href="/admin/">Admin</a></h1>

  <div class="form-group">
    <a href="/admin/config/new" class="btn btn-primary">New Config</a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Actions</th>
        <th scope="col">Title</th>
        <th scope="col">Comments</th>
      </tr>
    </thead>
    <tbody>
    {% for c in configs %}
    <tr>
      <td class="text-nowrap">
        <a href="/admin/config/{{c.key.id_or_name}}" class="btn btn-sm btn-primary">edit</a>
      </td>
      <td>
        {{c.key.id_or_name}}
      </td>
      <td>
        {{c.value}}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>