<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin | Edit | {{config.key.id_or_name}}</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1><a href="/admin/configs/">Admin Configs</a></h1>
    <form action="/admin/config/{{config.key.id_or_name}}" method="post">
        <h2>Edit: {{config.key.id_or_name}}</h2>
        <div class="form-group">
            <textarea name="value" id="value">{{config.value}}</textarea>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
</body>
</html>