<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin | Edit | {{post.title}}</title>
  <script src="https://cdn.tiny.cloud/1/{{CONFIG['tinymce_api_key']}}/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
  <form action="/admin/post/{{post.id}}" method="post">
    <div class="form-group">
      <textarea name="title" class="md-textarea form-control" id="title">{{post.title}}</textarea>
    </div>
    <textarea name="content" id="content">
    {% if request.args.get('nl2br') %}
      {{post.content | safe | nl2br}}
    {% else %}
      {{post.content | safe}}
    {% endif %}
    </textarea>
    <button class="btn btn-primary" type="submit">Save</button> -
    <a href="/{{post.slug}}" target="_blank">view post</a> -
    <a href="{{CONFIG['external_url']}}/{{post.slug}}" target="_blank">external</a> -
    <a href="/admin/post/{{post.id}}">edit</a> -
    <a href="/admin/post/{{post.id}}?nl2br=1">edit nl2br</a> -
    <a href="/admin/posts/">admin posts</a>
  </form>
  <footer class="entry-meta">
    This entry was posted on {{post.date | datetimeformat}}
  </footer>
</div>
  <script>
    tinymce.init({
      mode : 'exact',
      selector: '#content',
      height: '600',
      plugins: 'lists wordcount powerpaste table advtable advcode link image',
      tools: { title: 'Tools', items: 'code wordcount' },
      toolbar: 'undo redo | styleselect | bold italic | link image | code | removeformat',
      menu: {
        format: { title: 'Format', items: 'bold italic underline strikethrough superscript subscript codeformat | formats blockformats fontformats fontsizes align | forecolor backcolor | removeformat' }
      }
    });
  </script>
</body>
</html>