<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{CONFIG['blog_name']}} | {{CONFIG['blog_slogan']}}</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% include 'after_body.html' %}
<div class="container">
  <header id="masthead">
    <hgroup>
      <h1 class="site-title"><a href="/">{{CONFIG['blog_name']}}</a></h1>
      <h2 class="site-description">{{CONFIG['blog_slogan']}}</h2>
    </hgroup>
  </header>
  <div id="main" class="wrapper row">
    <div id="primary" class="site-content col-sm-9">
      <div id="content" role="main">
        <header class="archive-header">
          <h1 class="archive-title">
            Monthly Archives: {{month_name}} {{year}}
          </h1>
        </header>
        {% for post in posts %}
        <article id="post-{{post.id}}">
          <header>
            <h1 class="entry-title"><a href="/{{post.slug}}/">{{post.title}}</a></h1>
          </header>
          <div class="entry-content">
            {{post.content | safe}}
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
    <div id="secondary" class="col-sm-3">
      <aside id="quick-links">
        <h3 class="widget-title">Quick links</h3>
        <ul>
          <li><a href="/index/">All posts</a></li>
        </ul>
      </aside>
      <aside id="recent-posts">
        <h3 class="widget-title">Recent Posts</h3>
        <ul>
          {% for p in recent_posts %}
          <li><a href="/{{p.slug}}/">{{ p.title }}</a></li>
          {% endfor %}
        </ul>
      </aside>
      <aside id="archives">
        <h3 class="widget-title">Archives</h3>
        <ul>
          {% for a in archives %}
          <li><a href="/{{a.year}}/{{'%02d' % a.month}}/">{{ a.month_name }} {{a.year}}</a></li>
          {% endfor %}
        </ul>
      </aside>
    </div>
  </div>
</div>
</body>
</html>