<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{INI['config']['blog_name']}} | {{INI['config']['blog_slogan']}}</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
<h1>{{INI['config']['blog_name']}}</h1>
  <h2>{{INI['config']['blog_slogan']}}</h2>
{{post.content | safe}}
<p>
  <a href="/index/">blog posts</a>
</p>
</div>
</body>
</html>