<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{CONFIG['blog_name']}}</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% include 'after_body.html' %}
<div class="container">
  <header id="masthead">
    <hgroup>
      <h1 class="site-title"><a href="/">{{CONFIG['blog_name']}}</a></h1>
      <h2 class="site-description">{{CONFIG['blog_slogan']}}</h2>
    </hgroup>
  </header>
  <div id="main" class="wrapper row">
    <div id="primary" class="site-content col-sm-12">
      <div id="content" role="main">
        <h1>All posts</h1>
        <ul class="oddeven-list">
        {% for p in posts %}
        <li class="col-8 col-lg-9">
          <a href="/{{p.slug}}/">{{ p.title }}</a>, {{p.date | datetimeformat}}
        </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>